apiVersion: v1
kind: Service
metadata:
  labels:
    app: mfe-interoperabilidade
  name: mfe-interoperabilidade
spec:
  ports:
    - port: 80
      protocol: TCP
      targetPort: 8080
  selector:
    app: mfe-interoperabilidade
